<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache" level="ERROR"/>
        <Logger name="com.site" level="DEBUG"/>
        <Root level="ERROR">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>